table {
    width: 100%;
}

.mat-column-right {
    text-align: center;
}

.edit-form {
    min-width: 150px;
    width: 100%;
}

.field-full-width {
    width: 20%;
    margin-right: 1%;
}
.field-half-width {
    width: 15%;
    margin-right: 1%;
}