<div>
  <h2>Fault Time Scale</h2>
</div>
<!-- <div>
  <form action="list.component.html">
    <select name="interval">
      <option value="5">5 Minutes</option>
      <option value="10">10 Minutes</option>
      <option value="15">15 Minutes</option>
      <option value="30">30 Minutes</option>
    </select>
  </form>
</div> --> 
<div>
  <form [formGroup]="createForm" class="create-form">
    <span style="padding-right: 25px;">
      Interval:
    </span> <mat-form-field class="field-full-width">
      <!-- <input matInput placeholder="Sub Domain" formControlName="subDomain" #subDomain> -->
      <mat-select [(value)]="selected" placeholder="1 Hour" value="" formControlName="interval" #interval>
        <mat-option value="5">5 Minutes</mat-option>
        <mat-option value="10">10 Minutes</mat-option>
        <mat-option value="15">15 Minutes</mat-option>
        <mat-option value="30">30 Minutes</mat-option>
        <mat-option value="60">1 Hour</mat-option>
        <mat-option value="120">2 Hour</mat-option>
      </mat-select>
    </mat-form-field>
    <button style="padding-left: 20px;" type="submit" (click)="changeInterval(interval.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Show</button>
  </form>
</div>
<br>
<div style="width:75%;margin:auto;display:block;">
    <canvas id="canvas"  basechart width="1280px" height="200px" style=""></canvas>
  </div>

<div id="showList" style="display:none;">
    <div>
        <h2>Fault Entries</h2>
      </div>
  <mat-card>
    <table mat-table [dataSource]="faults">
      <ng-container matColumnDef="startDateTime">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">From Time</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.startDateTime}} </td>
      </ng-container>

      <ng-container matColumnDef="endDateTime">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">To Time</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.endDateTime}} </td>
      </ng-container>

      <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef class="mat-column-right">Duration</th>
          <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.duration}}</td>
        </ng-container>

      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Domain</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.domain}} </td>
      </ng-container>

      <ng-container matColumnDef="subDomain">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Sub Domain</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.subDomain}} </td>
      </ng-container>

      <ng-container matColumnDef="cause">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Cause Descriptor</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.cause}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Corrective Descriptor</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right"> {{element.action}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editFault(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteFault(element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br><br>
    <button mat-raised-button color="primary" routerLink="/create">Create New Issue</button>
    <br><br>
  </mat-card>
</div>
<!-- <div style="width:75%;">
  <canvas id="canvas"></canvas>
</div> -->